--
-- PostgreSQL database dump
--

\restrict b2ExICH3SMlMWHNoya96ef3im7jJ1g22KrU2BJzclniBbjEpkwNA6Jl1cJXyvnG

-- Dumped from database version 16.13 (Ubuntu 16.13-0ubuntu0.24.04.1)
-- Dumped by pg_dump version 16.13 (Ubuntu 16.13-0ubuntu0.24.04.1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: reports; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.reports (
    id uuid NOT NULL,
    user_id bigint NOT NULL,
    team_id uuid NOT NULL,
    template_id uuid NOT NULL,
    title text NOT NULL,
    answers jsonb NOT NULL,
    template_data jsonb DEFAULT '{}'::jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: team_templates; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.team_templates (
    team_id uuid NOT NULL,
    template_id uuid NOT NULL,
    assigned_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Name: teams; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.teams (
    id uuid NOT NULL,
    name text NOT NULL,
    description text,
    template_id uuid,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by bigint
);


--
-- Name: template_sheet_registry; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.template_sheet_registry (
    template_key text NOT NULL,
    sheet_id bigint NOT NULL
);


--
-- Name: templates; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.templates (
    id uuid NOT NULL,
    name text NOT NULL,
    description text,
    questions jsonb NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    created_by bigint,
    is_student_tracker boolean DEFAULT false NOT NULL
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    telegram_id bigint NOT NULL,
    first_name text NOT NULL,
    last_name text,
    username text,
    photo_url text,
    team_id uuid,
    role text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- Data for Name: reports; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: team_templates; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: teams; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: template_sheet_registry; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.template_sheet_registry (template_key, sheet_id) FROM stdin;
Ma_naviyat_va_ma_rifat_bo_limi	1570850207
Tyutorlar_faoliyati	2018574887
Tyutorlar_kundalik_faoliyati	1160860314
Yoshlar_bilan_ishlash_bo_limi	1049134020
520ef52c-dd82-42bf-b384-7043bcdf43e7	482734590
\.


--
-- Data for Name: templates; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: reports reports_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_pkey PRIMARY KEY (id);


--
-- Name: team_templates team_templates_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.team_templates
    ADD CONSTRAINT team_templates_pkey PRIMARY KEY (team_id, template_id);


--
-- Name: teams teams_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_pkey PRIMARY KEY (id);


--
-- Name: template_sheet_registry template_sheet_registry_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.template_sheet_registry
    ADD CONSTRAINT template_sheet_registry_pkey PRIMARY KEY (template_key);


--
-- Name: templates templates_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.templates
    ADD CONSTRAINT templates_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (telegram_id);


--
-- Name: idx_reports_created_at; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_reports_created_at ON public.reports USING btree (created_at);


--
-- Name: idx_reports_team_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_reports_team_id ON public.reports USING btree (team_id);


--
-- Name: idx_reports_template_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_reports_template_id ON public.reports USING btree (template_id);


--
-- Name: idx_reports_user_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_reports_user_id ON public.reports USING btree (user_id);


--
-- Name: idx_team_templates_team_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_team_templates_team_id ON public.team_templates USING btree (team_id);


--
-- Name: idx_team_templates_template_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_team_templates_template_id ON public.team_templates USING btree (template_id);


--
-- Name: idx_teams_template_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_teams_template_id ON public.teams USING btree (template_id);


--
-- Name: idx_users_team_id; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX idx_users_team_id ON public.users USING btree (team_id);


--
-- Name: reports reports_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id);


--
-- Name: reports reports_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_template_id_fkey FOREIGN KEY (template_id) REFERENCES public.templates(id);


--
-- Name: reports reports_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.reports
    ADD CONSTRAINT reports_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(telegram_id);


--
-- Name: team_templates team_templates_team_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.team_templates
    ADD CONSTRAINT team_templates_team_id_fkey FOREIGN KEY (team_id) REFERENCES public.teams(id) ON DELETE CASCADE;


--
-- Name: team_templates team_templates_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.team_templates
    ADD CONSTRAINT team_templates_template_id_fkey FOREIGN KEY (template_id) REFERENCES public.templates(id) ON DELETE CASCADE;


--
-- Name: teams teams_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(telegram_id);


--
-- Name: teams teams_template_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.teams
    ADD CONSTRAINT teams_template_id_fkey FOREIGN KEY (template_id) REFERENCES public.templates(id);


--
-- Name: templates templates_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.templates
    ADD CONSTRAINT templates_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(telegram_id);


--
-- PostgreSQL database dump complete
--

\unrestrict b2ExICH3SMlMWHNoya96ef3im7jJ1g22KrU2BJzclniBbjEpkwNA6Jl1cJXyvnG

